# ------  JACGWD ------------- #
# Delete this entire block of code (JACGWD to /JACGWD) before uploading to live server
# This code comes from https://github.com/JACGWD/CacheBuster
# It's main job is to prevent the browser and the server from holding onto old copies of your files so that you always see the most recent copy


# Disables caching of static files
<filesMatch "\.(html|htm|js|css|jpg|png|gif|mp4|mov|mp3|svg)$">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>


# Disables caching of php files
# Beware this is a Bitnami-only configuration!
# This may break your site if using WAMP, XAMPP or another server software stack than Bitnami!

php_flag opcache.enable Off

# ------  /JACGWD ------------- #